@model NetflixLookup.Models.TitleSearch
@{
    ViewBag.Title = "Index";
}

@section foot
{
    <script src="~/Scripts/netflix.js" type="text/javascript"></script>
}

@section nav
{
        <li class="active"><a href="@Url.Action("Index", "Start")">Netflix</a></li>
        <li><a href="@Url.Action("Index", "Flixter")">Flixter</a></li>
}
<div class="hero-unit">
  <h1>Netflix title lookup</h1>
  <p>This example demostrates how Netflix API could be used for movie title lookup and to pull comp titles.</p>
  <p>Enter the title name to search for.</p>
</div>
<div class="row">
    <span class="span7">
            @using (Html.BeginForm("Index", "Start", FormMethod.Post, new { @class = "form-horizontal" }))
            { 
                <legend>Title Lookup</legend>
                <div class="control-group">
                    <label class="control-label" for="txtTitle">Title: </label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.TitleName, new { placeholder="Enter title", size="256"})
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtMaxResults">Max results: </label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.MaxResults)
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn" type="button" id="btnTitleLookup">Lookup</a>
                    </div>
                </div>
        }
     </span>
</div>

<script id="movieTemplate" type="text/x-jquery-tmpl"> 
      <li class="span2">
        <div class="thumbnail">
          <img src="${ArtLarge}" alt="">

          <div class="caption">
                    <h5>${Name}</h5>
                    <p>(${ReleaseYear})</p>
                    <p><a href="#" class="btn btn-primary compsbtn" movieId="${ID}">View comps</a></p>
          </div>

        </div>
      </li>
</script>